*
    margin 0
    padding 0
ul li
    list-style none
.movie
    width 100%
    &-head
        width 100%
        height 40px
        line-height 40px
        color #fff
        background-color #1e2025
        padding 0 10px
        box-sizing border-box
        display flex
        .iconfont
            font-size 16px
        .title
            flex 1
            text-align center
    &-info
        padding 15px
        background-color #1e2025
        &__desc
            width 100%
            display flex
            .info-pic
                width 122px
                height 165px
                overflow hidden
                img
                    width 100%
            .info-container
                font-size 12px
                margin-left 10px
                flex 1
                color #9b9da2
                .name
                    color #ffffff
                    font-size 24px
                    font-family Arial,sans-serif
                    font-weight normal
                .type
                    span
                        width 40px
                        height 14px
                        display inline-block
                        background url('https://s0.meituan.net/bs/myfe/canary/file/asgard/images/movie/movie-tag-2DIMAX.png')
                        background-size cover
                        vertical-align middle
                .btn-wrap
                    display flex
                    margin-top 10px
                    .flex
                        flex 1
                        width 115px
                        height 32px
                        margin 10px 10px 10px 0
                        border-radius 5px
                        background-color: #58575d
                        line-height: 32px
                        text-align: center
                        color white
                        .icon-font
                            font-size 16px
        &__rate 
            padding 10px
            margin-top 15px
            border-radius 4px
            background-color: #16151b
            .rate-title
                font-size 12px
                display flex
                margin-bottom 10px
                justify-content space-between
                &__left 
                    display flex
                    color white
                    .iconfont
                        color red
                &__right
                    color #68686b
                    .iconfont
                        font-size 12px
                        
                    
            .rate-detail
                display flex
                &__left
                    flex 454
                    display flex
                    box-sizing border-box
                    .grade
                        margin-left 23px
                        font-size 12px
                        color #68686b
                        h2
                            color #ffbb00 
                    .star
                        .list
                            display flex
                            align-items center
                            .star-num
                                font-size 0
                                width 40px
                                text-align right  
                                img
                                    width 8px
                                    height 8px
                            .percent
                                width 78px
                                height 4px
                                background-color #2252528
                                position relative
                                .percent-val
                                    display block
                                    position absolute
                                    left 0
                                    top 0
                                    height 100%
                                    width 80%
                                    background-color  #fcc300
                                    
                &__right
                    flex 266
                    diplay flex
                    img
                        height 46px
                        align-items center
    &-desc
        padding 15px
        .line-clamp
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 3
            word-wrap break-word
            word-break break-all
            overflow hidden
        .arrow
            text-align center
            width 100%
            .iconfont
                display block
                transform rotateZ(0)
                transition all 1s ease 
        .arrow .up
            display block
            transform rotateZ(180deg)
                
        
    &-performers
        padding 15px
        .actors
            display flex
            overflow hidden
            overflow-x scroll
            margin-top 10px
            .actor
                flex 1
                margin-right 10px 
                text-align center
                .role
                    color #949494
                    
                
                