body {
  margin: 0;
  padding: 0;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62;
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote {
  margin: 0;
  padding: 0;
}
.gray-mode {
  margin-top: 30px;
}
.gray-mode #anony-nav {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.gray-mode #anony-nav h1 {
  display: inline-block;
  width: 160px;
  height: 34px;
  margin: 0 20px 0 0;
  background: url("https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png") no-repeat 0 0;
  vertical-align: middle;
}
.gray-mode #anony-nav h1 a {
  display: block;
  height: 34px;
  font-size: 12px;
}
.gray-mode #anony-nav .anony-srh {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
  vertical-align: middle;
}
.gray-mode #anony-nav .anony-srh form {
  border: 0;
}
.gray-mode #anony-nav .anony-srh form .inp {
  display: block;
  height: 30px;
  overflow: hidden;
}
.gray-mode #anony-nav .anony-srh form .inp input {
  width: 240px;
  height: 20px;
  padding: 5px;
  margin-right: 3px;
  border: none;
  vertical-align: middle;
  font-size: 13px;
  outline: none;
}
.gray-mode #anony-nav .anony-srh form .bn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: url("https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png") no-repeat 50% 50%;
  overflow: hidden;
  cursor: pointer;
}
.gray-mode #anony-nav .anony-srh form .bn input {
  height: 30px;
  width: 30px;
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
}
.gray-mode #anony-nav .anony-nav-links {
  float: right;
  margin-top: 6px;
}
.gray-mode #anony-nav .anony-nav-links ul {
  list-style: none;
}
.gray-mode #anony-nav .anony-nav-links ul li {
  display: inline-block;
  margin: 0 14px 0 0;
}
.gray-mode #anony-nav .anony-nav-links ul li a {
  display: inline-block;
  width: 40px;
  height: 20px;
  overflow: hidden;
  line-height: 20em;
  outline: none;
  background: url("https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png") no-repeat 100% 100%;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-book {
  background-position: 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .link-movie {
  background-position: -60px 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-music {
  background-position: -120px 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-evnets {
  background-position: -299px 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-group {
  background-position: -180px 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-read {
  background: url("https://img3.doubanio.com/f/sns/f3ba00ef46f185989b70ac6841d9f4d67b6e3a25/pics/sns/anony_home/ic_read_home_nav.png") no-repeat 100% 100%;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-fm {
  background-position: -241px 0;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-shijian {
  background: url("https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png") no-repeat 100% 100%;
  margin-bottom: 1px;
}
.gray-mode #anony-nav .anony-nav-links ul li .lnk-market {
  background-position: -421px 0;
}
.gray-mode #annoy-reg-new {
  background-image: url("https://img9.doubanio.com/view/puppy_image/raw/public/16ad990ec23uwn790d4.jpg");
}
