body {
  margin: 0;
  padding: 0;
  font: 12px;
  line-height: 1.62;
}
.gray-mode {
  margin-top: 30px;
}
.gray-mode #anony-nav {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.gray-mode #anony-nav h1 {
  display: inline-block;
  width: 160px;
  height: 34px;
  margin: 0 20px 0 0;
  background: url("https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png") no-repeat 0 0;
  vertical-align: middle;
}
.gray-mode #anony-nav h1 a {
  display: block;
  height: 34px;
  font-size: 12px;
}
.gray-mode #anony-nav .anony-srh {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
  vertical-align: middle;
}
.gray-mode #anony-nav .anony-srh form {
  border: 0;
}
.gray-mode #anony-nav .anony-srh form .inp {
  display: block;
  height: 30px;
  overflow: hidden;
}
.gray-mode #anony-nav .anony-srh form .inp input {
  width: 240px;
  height: 20px;
  padding: 5px;
  margin-right: 3px;
  border: none;
  vertical-align: middle;
  font-size: 13px;
  outline: none;
}
.gray-mode #anony-nav .anony-srh form .bn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: url("https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png") no-repeat 50% 50%;
  overflow: hidden;
  cursor: pointer;
}
.gray-mode #anony-nav .anony-srh form .bn input {
  height: 30px;
  width: 30px;
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
}
.gray-mode #anony-nav .anony-nav-links {
  float: right;
  margin-top: 6px;
}
.gray-mode #anony-nav .anony-nav-links ul {
  list-style: none;
}
.gray-mode #anony-nav .anony-nav-links ul li {
  display: inline-block;
  margin: 0 14px 0 0;
}
.gray-mode #anony-nav .anony-nav-links ul li a {
  width: 40px;
  height: 20px;
}
