body
    margin 0
    padding 0
    font: 12px Helvetica,Arial,sans-serif
    line-height 1.62
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}
.gray-mode
    margin-top 30px
    #anony-nav
        width 1080px
        margin 0 auto
        margin-bottom 25px
        h1
            display inline-block
            width 160px
            height 34px
            margin 0 20px 0 0
            background url("https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png") no-repeat 0 0
            vertical-align middle
            a
                display block
                height 34px
                font-size 12px
        .anony-srh
            position relative
            display inline-block
            width 270px
            height 30px
            border 1px solid #c3c3c3
            vertical-align middle
            form
                border 0
                .inp
                    display block
                    height 30px
                    overflow hidden
                    input 
                        width 240px
                        height 20px
                        padding 5px
                        margin-right 3px
                        border none 
                        vertical-align middle
                        font-size 13px
                        outline none 
                .bn
                    position absolute
                    right 0
                    top 0
                    width 30px
                    height 30px
                    border none 
                    background url("https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png") no-repeat 50% 50%
                    overflow hidden
                    cursor pointer
                    input
                        height 30px
                        width 30px
                        background: transparent
                        border 0
                        color transparent
                        cursor pointer
        .anony-nav-links
            float right
            margin-top 6px
            ul
                list-style none 
                li
                    display inline-block
                    margin 0 14px 0 0
                    a
                        display inline-block
                        width 40px
                        height 20px
                        overflow hidden
                        line-height 20em
                        outline: none 
                        background url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) no-repeat 100% 100%
                    .lnk-book
                        background-position 0
                    .link-movie
                        background-position -60px 0
                    .lnk-music
                        background-position -120px 0
                    .lnk-evnets
                        background-position -299px 0
                    .lnk-group
                        background-position -180px 0
                    .lnk-read
                        background url("https://img3.doubanio.com/f/sns/f3ba00ef46f185989b70ac6841d9f4d67b6e3a25/pics/sns/anony_home/ic_read_home_nav.png") no-repeat 100% 100%
                        
                    .lnk-fm
                        background-position -241px 0
                    .lnk-shijian
                        background url("https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png") no-repeat 100% 100%
                        margin-bottom: 1px
                    .lnk-market   
                        background-position -421px 0
                        

     #annoy-reg-new
         background-image: url("https://img9.doubanio.com/view/puppy_image/raw/public/16ad990ec23uwn790d4.jpg")
         

